{% extends "layout.html" %}

{% from "security/_macros.html" import render_field_with_errors, render_field_ %}

{% block content %}
<div class="wrapper">
  <div class="form-signin">
<!-- { % include "security/_messages.html" % } -->
<h1>Reset Password</h1>
<form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
  {{ forgot_password_form.hidden_tag() }}
  {{ render_field_(forgot_password_form.email, class_="form-control first last", placeholder="Email Address", required="") }} 
  {{ render_field_(forgot_password_form.submit, class_="btn btn-lg btn-primary btn-block") }}
</form>
<!--{% include "security/_menu.html" %}-->
  </div>
</div>
{% endblock %}