:local(.styles) {
  flex: 1 1 auto;
  position: relative;
  .left {
    transition: all .2s ease-in;
    flex: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    bottom: 0;
    overflow: hidden;
  }
  .right {
    transition: all .2s ease-in; 
    flex: 1;
    position: absolute;
    left: 50%;
    width: 50%;
    height: 100%;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }
}

@mixin max {
    width: 100%;
    left: 0;
    z-index: 0;
}

@mixin min {
    width: 213px;
    height: 160px;
    left: inherit;
    top: inherit;
    right: 10;
    bottom: 10;
    z-index: 10;
    border-radius: 5px;
}

.left-max {
    .left {
        @include max();
    }
    .right {
        @include min();
    }
}

.right-max {
    .right {
        @include max();
    }
    .left {
        @include min();
    }
}

.controls {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    z-index: 1000;
}