:local(.styles) {
  width: 100%;
}


:local(.viewer) {
    width: 100%;
    height: 50vw;
    border: 1px solid red;
}

:local(.map) {
    width: 100%;
    height: 50vw;
    border: 1px solid green;
}

.nopadding {
    padding: 0;
    margin: 0;
}