@import '~sass-flex-mixin/flex';

:local(.messages) {
    @include flexbox;
    @include flex-flow(column);
    transition: left .2s ease-in 0s;
    position: absolute;
    top: 0;
    left: -500px;
    bottom: 0;
    width: 500px;
    background-color: rgba(18, 40, 36, 0.9);
    padding: 10px;
    overflow: auto;
    z-index: 50;

    .form-group {
        @include flex(0);
        height: 50px;
    }

    .messages {
        @include flex(1);
        overflow: auto;
    }
}

:local(.shown) {
    left: 50px;
}


:local(.message) {
    border-radius: 5px;
    color:  #eee;
    padding: 10px;
    width: 100%;
    .name {
        float: left;
        color: #aaa;
    }
    .timestamp {
        float: right;
        color: #999;
    }
    .text {
        width: 100%;
        clear: both;
    }
}

:local(.textinput) {
    @include flexbox;
    @include flex-flow(row);
    input[type=text] {
        @include flex(1);
        margin-right: 5px;
    }
    a.btn {
        @include flex(0, 1);
        margin-right: 5px;
    }
    a.btn:last-child {
        margin-right: 0;
    }
}