

      html, body, #cesiumContainer {
          width: 100%; height: 100%; margin: 0; padding: 0; overflow: hidden;
      }

      .layers-panel {
          display: block;
          position: absolute;
          padding: 10px;
          top: 15px;
          left: 5px;
          color: white;
          max-height: 80%;
          background-color: rgba(50,50,150,0.3);
          overflow-y: auto;
      }
      .xlayers-panel {
          display: block;
          position: absolute;
          padding: 10px;
          top: 15px;
          left: 5px;
          color: white;
          max-height: 100%;
          background-color: rgba(50,50,150,0.3);
      }

      .toolbar-left {
          display: block;
          position: absolute;
          padding: 10px;
          top: 15px;
          left: 5px;
          background-color: rgba(50,50,150,0.3);
      }

      .video-window {
          display: block;
          position: absolute;
          top: 200px;
          left: 100px;
      }

      .chat-window {
          display: none;
          position: absolute;
          top: 280px;
          left: 100px;
          xheight: 300px;
          xwidth: 500px;
          color: black;
          background-color: white;
      }

      .chat-text {
          display: block;
          position: relative;
          overflow-y: auto;
          xheight: 100%;
          xwidth: 100%;
          height: 200px;
          width: 500px;
      }

      .video-window {
          display: none;
          position: absolute;
          top: 280px;
          left: 100px;
          color: black;
          background-color: white;
      }

      .video-body {
          display: block;
          position: relative;
          overflow-y: auto;
          height: 440px;
          width: 820px;
      }

      .iframe-window {
          display: none;
	  xxxresize: both;
          position: absolute;
          top: 280px;
          left: 100px;
          color: black;
          background-color: white;
      }

      .iframe-body {
          display: block;
          position: relative;
	  resize: both;
          xxxoverflow-y: auto;
          height: 440px;
          width: 820px;
      }

      .floating-div {
          display: none;
          position: absolute;
          top: 280px;
          left: 100px;
          color: black;
          background-color: white;
      }

      .floating-body {
          display: block;
          position: relative;
          overflow-y: auto;
          xheight: 100%;
          xwidth: 100%;
          height: 200px;
          width: 500px;
      }
