{% extends "layout.html" %}
{% block title %}WorldViews Projects{% endblock %}
{% block head %}
  {{ super() }}

<script type="text/javascript">

$(document).ready(function() {
   $("#newProj").click(function(e) {
       $("#addProj").show();
   });
   $("#addButton").click(function(e) {
       var url = "/projects_add";
       var obj = {};
       obj.title = $("#title").val();
       obj.description = $("#description").val();
       obj.owner = "{{ current_user.id }}";
       report("Obj: "+JSON.stringify(obj));
       $.ajax({type: "POST",
               url: url,
               dataType: "json",
               data: obj,
               success: function(res) {
                   report("Sent it. got: "+JSON.stringify(res));
               }});
       window.location.href = window.location.href;
   });
   $(".join-button").click(function(e) {
       report("join-button click");
       var url = "/projects_join/";
       var obj = {name: e.target.id, username: "{{user}}"};
       report("Obj: "+JSON.stringify(obj));
       $.ajax({type: "POST",
               url: url,
               dataType: "json",
               data: obj,
               success: function(res) {
                   report("Sent it. got: "+JSON.stringify(res));
                   window.location.href = window.location.href;
               }});
   });
   $(".follow-button").click(function(e) {
       report("follow-button click");
       var url = "/projects_follow/";
       var obj = {name: e.target.id, username: "{{user}}"};
       report("Obj: "+JSON.stringify(obj));
       $.ajax({type: "POST",
               url: url,
               dataType: "json",
               data: obj,
               success: function(res) {
                   report("Sent it. got: "+JSON.stringify(res));
                   window.location.href = window.location.href;
               }});
    });
});
console.log("good");
</script>

{% endblock %}

{% block tabs %}
 {{ super() }}
{% endblock %}

{% block content %}

<p>&nbsp;<p>&nbsp;
  <h1>WorldViews Activities</h1>
  <p class="important">
    There are many great projects and activities now going on in WorldViews, or by people and
groups allied with WorldViews.

{% for proj in projs %}
<h3>{{proj.title}}</h3>
{{proj.description}}<br>
{% if proj.members %}
  Members: 
     {% for member in proj.members %}
        {{member.full_name}}
     {% endfor %}
  <br>
{% endif %}
{% if proj.followers %}
  Followers: 
     {% for follower in proj.followers %}
        {{follower.full_name}}
     {% endfor %}
  <br>
{% endif %}
{% if current_user.is_authenticated %}
   {% if current_user in proj.members %}
     <!-- You are in project.  Edit -->
   {% else %}
      <span class="join-button" id="{{proj.id}}">Join</span>
     {% if current_user in proj.followers %}
        <!-- You are following project. -->
     {% else %}
       <span class="follow-button" id="{{proj.id}}">Follow</span>
     {% endif %}
   {% endif %}
{% endif %}
&nbsp;
<p>

{% endfor %}

{% if current_user.has_role('admin') %}
&nbsp;
<p>
<input type="button" id="newProj" value="New Project">

{% macro render_field(field) %}
  <dt>{{ field.label }}
  <dd>{{ field(**kwargs)|safe }}
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
  </dd>
{% endmacro %}

<form id="newProj">
<form method=post action="/newProj">
  <dl>
    {{ render_field(form.title) }}
    {{ render_field(form.description) }}
  </dl>
  <p><input type=submit value=Register>
</form>

{% endif %}
<div id="addProj" hidden>
<h3>Create New Project</h3>
&nbsp;
<p>
<form id="newProjForm0">
Title: <input id="title" type="text" value="" size=90><br>
Description: <br>
<textarea id="description" rows="20" cols="100"></textarea><br>
<input id="addButton" type="button" value="Add">
</form>

<p>
<form id="newProjForm1">
<dl>
<dt>Title:</dt>
<dd> <input id="title" type="text" value="" size=90> </dd>
<br>
<dt>Description:</dt>
<dd>
<textarea id="description" rows="20" cols="100"></textarea>
</dd>
<input id="addButton2" type="button" value="Add">
</dl>
</form>
&nbsp;
<p>
</div>

{% endblock %}



