{% extends "layout.html" %}
{% block title %}WorldViews Projects{% endblock %}
{% block head %}
  {{ super() }}

<style>
.navbar {
   xwidth: 1020px;
}

.container {
   width: 90%;
}

.xgrid {
   xwidth: 1500px;
   xwidth: 100%;
               border-style:solid;
               border-width:1px;
}

.grid-item {
               width: 480px;
               padding: 10px;
               margin: 10px;
               border-style:solid;
               border-width:1px;
}
</style>
<script src="/static/js/tinymce/tinymce.min.js"></script>
<!-- <script src="/static/js/handlebars.runtime-v4.0.5.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.js"></script>
<script>
  tinymce.init({
    selector: 'textarea'
  });
</script>
<!--
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
-->
<script src="https://unpkg.com/masonry-layout@4.1/dist/masonry.pkgd.js"></script>

<script id="project_template" type="text/x-handlebars-template" src="/static/handlebars_templates/project.html">
  <div class="entry">
    <h1>Project [[proj.title]]</h1>
    <div class="body">
      Description
      [[[proj.description]]]
    </div>
    <p>
    <hr width="40%" align="left">
  </div>
</script>

<script type="text/javascript">

String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

var PROJECTS = [];
var PROJECT_BY_ID = {};

function report(str) { console.log(str); }

function timeStr(t) {
    var d = new Date(t*1000);
    var tStr = d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds();
    return tStr;
}

function dateStr(t) {
    var d = new Date(t*1000);
    var dStr = (d.getUTCMonth()+1) +"/"+ d.getUTCDate() + "/" + d.getUTCFullYear();
    return dStr;
}

function dateTimeStr(t) {
    var d = new Date(t*1000);
    return dateStr(t)+" "+timeStr(t);
    /*
    var dStr = (d.getUTCMonth()+1) +"/"+ d.getUTCDate() + "/" + d.getUTCFullYear() +
               " " +
               + d.getUTCHours() + ":" + d.getUTCMinutes() + ":" + d.getUTCSeconds();
    return dStr;
    */
}

function editProjUrl(projId) {    return "/project_edit?id="+projId;  }
function followProjUrl(projId) {  return "/project_follow?id="+projId;  }
function joinProjUrl(projId) {    return "/project_join?id="+projId;  }

function editProj(projId)
{
    report("editProj "+projId);
    window.location.href = "/project_edit?id="+projId;
}

function joinProj(projId, userId)
{
    var url = "/project_join";
    var obj = {projectId: projId, members: [userId]};
    var jstr = JSON.stringify(obj);
    report("joinProj Obj: "+jstr);
    $.ajax({type: "POST",
            url: url,
            dataType: "json",
            data: jstr}).done(function(res) {
                report("Sent it. got: "+JSON.stringify(res));
                window.location.href = window.location.href;
           });
}

function followProj(projId, userId)
{
    var url = "/project_follow";
    var obj = {projectId: projId, userId: userId};
    report("followProj Obj: "+JSON.stringify(obj));
    $.ajax({type: "POST",
            url: url,
            dataType: "json",
            data: obj}).done(function(res) {
                report("Sent it. got: "+JSON.stringify(res));
                window.location.href = window.location.href;
           });
}

function cancelNewProj()
{
    $("#addProjDiv").hide();
    $("#newProjButton").show();
    $("#title").val("");
    $("#description").val();
}

function enterNewProj()
{
    $("#addProjDiv").show();
    $("#newProjButton").hide();
    window.location.href = "#createNewProject";
}


getJSON = function(url, handler)
{
    report(">>>>> getJSON: "+url);
    $.ajax({
        url: url,
	dataType: 'text',
	success: function(str) {
		data = JSON.parse(str);
		handler(data);
	    }
	});
}

function getProjects()
{
    getJSON("/projects?type=json", handleProjects);
}

function handleProjects(data)
{
    report("handleProjects "+data);
    var projects = data;
    PROJECTS = projects;
    PROJECT_BY_ID = {};
    for (var i=0; i<projects.length; i++) {
        var proj = projects[i];
        PROJECT_BY_ID[proj.id] = proj;
        handleProject(proj);
    }

   $('.grid').masonry({
     itemSelector: '.grid-item',
     //columnWidth: 400
   });

}

function handleProject(projData)
{
    report("project title "+projData.title);
    //proj = new Project(projData);
    proj = new ProjectHB(projData);
    proj.render();
}

/*
Project = function(args)
{
    this.id = args.id;
    this.title = args.title;
    this.description = args.description;
    this.members = args.members;
    this.followers = args.followers;

    this.getDiv = function() {
        var id = "proj_"+this.id;
        jQuery('<span/>', {id: id, width: 200, border:2}
         ).appendTo("#projectsDiv");
        return $("#"+id);
    };

    this.render = function() {
        var inst = this;
        report("---------------------------");
        report("Rendering project");
        report("title: "+this.title);
        report("description: "+this.description);
        var div = this.getDiv();
        report("div: "+div);
        div.append("<p>\n");
        div.append("<h3>"+this.title+"<h3>\n");
        div.append(this.description+"<br>\n")
        div.append("<p>\n");
        div.append("Members: ")
        var names = this.members.map(function(u) { return u.name; });
        div.append(names.join(", "));
        div.append("<br>\n");
        div.append("Followers: ")
        var names = this.followers.map(function(u) { return u.name; });
        div.append(names.join(", ")+"<br>\n");
        if (this.isMember(current_user_id)) {
	   //div.append("we are member\n");
           var bid = "edit_"+this.id;
           div.append("<span id='ID'>edit</span>".replace("ID", bid));
           $("#"+bid).click(function(e) { editProj(inst.id); });
        }
        div.append("<p>\n");
        div.append('<hr width="40%" align="left">\n');
    };

    this.isMember = function(id) {
        for (var i=0; i<this.members.length; i++) {
            if (this.members[i].id == id) {
                return true;
            }
        }
        return false;
    }

    this.isFollower = function(id) {
        for (var i=0; i<this.members.length; i++) {
            if (this.followers[i].id == id) {
                return true;
            }
        }
        return false;
    }
}
*/

var Proj = {};
Proj.templateString = null;

ProjectHB = function(args)
{
    this.id = args.id;
    this.title = args.title;
    this.description = args.description;
    this.members = args.members;
    this.followers = args.followers;
    this.creation_time = args.creation_time;
    this.modification_time = args.modification_time;

    this.isMember = function(id) {
        for (var i=0; i<this.members.length; i++) {
            if (this.members[i].id == id) {
                return true;
            }
        }
        return false;
    }

    this.isFollower = function(id) {
        for (var i=0; i<this.followers.length; i++) {
            if (this.followers[i].id == id) {
                return true;
            }
        }
        return false;
    }

    var metaStr = "";
    if (this.creation_time) {
        metaStr += "\n<br>started on "+dateStr(this.creation_time);
    }
    if (this.modification_time) {
        metaStr += "\n<br>updated on "+dateStr(this.modification_time);
    }
    if (this.isMember(current_user_id)) {
        var url = editProjUrl(this.id);
	metaStr += "\n<br><a href='"+url+"'>edit</a>";
    }
    if (!this.isMember(current_user_id) && !this.isFollower(current_user_id)) {
        var url = followProjUrl(this.id);
	metaStr += "\n<br><a href='"+url+"'>follow</a>";
    }
    this.description += metaStr;

    vsource = Proj.templateString;
    report("vsource: "+vsource);
    this.template = Handlebars.compile(vsource);
    this.getDiv = function() {
        var id = "proj_"+this.id;
        jQuery('<span/>', {id: id, width: 200, border:2}
         ).appendTo("#projectsDiv");
        return $("#"+id);
    };

    this.render = function() {
        var inst = this;
        report("---------------------------");
        report("Rendering project");
        report("title: "+this.title);
        report("description: "+this.description);
        var div = this.getDiv();
        report("div: "+div);
        div.html(this.template({proj: this}));
    };

}

$(document).ready(function() {
    var url = "/static/handlebars_templates/project.html";
    $.get(url, function (data) {
        Proj.templateString = data;
        getProjects();
    }, 'html');

   /*
   $('.grid').masonry({
    // options
     itemSelector: '.grid-item',
     columnWidth: 400,
     fitWidth: true
   });
   */

});

current_user = "{{current_user}}";
current_user_id = "{{current_user.id}}";

</script>

{% endblock %}

{% block tabs %}
 {{ super() }}
{% endblock %}

{% block content %}

<p>&nbsp;<p>&nbsp;
  <h1>WorldViews Activities</h1>
  <p class="important">
    There are many great projects and activities now going on in WorldViews, or by people and
groups allied with WorldViews.

<div class="grid" id="projectsDiv"></div>

<hr style="clear:both;" width="0"></hr>

{% if current_user.has_role('admin') %}
&nbsp;
<p>
<input type="button" id="newProjButton" value="New Project" onclick="enterNewProj()">
{% endif %}

<div id="addProjDiv" hidden>
<a name="createNewProject"></a>
<h3>Create New Project</h3>
&nbsp;
<p>
<form id="newProjForm1" action="/projects_add" method="post">
<dl>
<dt>Title:</dt>
<dd> <input id="title" type="text" name="title" value="" size=90> </dd>
<br>
<dt>Description:</dt>
<dd>
<textarea id="description" name="description" rows="20" cols="90"></textarea>
</dd>
&nbsp;<p>
<input id="owner" name="owner" type="hidden" value="{{ current_user.id }}">
<input id="addButton" type="submit" value="Add Project">
<input id="cancelButton" type="button" value="Cancel" onclick="cancelNewProj()">
</dl>
</form>
</div>
&nbsp;<p>

{% endblock %}



