{% extends "layout.html" %}
{% block title %}WorldViews Projects{% endblock %}
{% block head %}
  {{ super() }}

<script src="/static/js/tinymce/tinymce.min.js"></script>
<script>
  tinymce.init({
    selector: 'textarea'
  });
</script>
<!--
  <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
  <script>tinymce.init({ selector:'textarea' });</script>
-->
<script type="text/javascript">

function report(str) { console.log(str); }

function editProj(projId)
{
    report("editProj "+projId);
    window.location.href = "/project_edit?id="+projId;
}

function cancelNewProj()
{
    $("#addProjDiv").hide();
    $("#newProjButton").show();
    $("#title").val("");
    $("#description").val();
}

function enterNewProj()
{
    $("#addProjDiv").show();
    $("#newProjButton").hide();
    window.location.href = "#createNewProject";
}

function joinProj(projId, userId)
{
    var url = "/project_join";
    var obj = {projectId: projId, userId: userId};
    report("joinProj Obj: "+JSON.stringify(obj));
    $.ajax({type: "POST",
            url: url,
            dataType: "json",
            data: obj}).done(function(res) {
                report("Sent it. got: "+JSON.stringify(res));
                window.location.href = window.location.href;
           });
}

function followProj(projId, userId)
{
    var url = "/project_follow";
    var obj = {projectId: projId, userId: userId};
    report("followProj Obj: "+JSON.stringify(obj));
    $.ajax({type: "POST",
            url: url,
            dataType: "json",
            data: obj}).done(function(res) {
                report("Sent it. got: "+JSON.stringify(res));
                window.location.href = window.location.href;
           });
}

</script>

{% endblock %}

{% block tabs %}
 {{ super() }}
{% endblock %}

{% block content %}

<p>&nbsp;<p>&nbsp;
  <h1>WorldViews Activities</h1>
  <p class="important">
    There are many great projects and activities now going on in WorldViews, or by people and
groups allied with WorldViews.

{% for proj in projs %}
<div id="div_{{proj.id}}">
<h3>{{proj.title}}</h3>
{{proj.description|safe}}<br>
&nbsp;<p>
{% if proj.members %}
  Members: 
     {% for member in proj.members %}
        {{member.full_name}}
     {% endfor %}
  <br>
{% endif %}
{% if proj.followers %}
  Followers: 
     {% for follower in proj.followers %}
        {{follower.full_name}}
     {% endfor %}
  <br>
{% endif %}
{% if current_user.is_authenticated %}
   {% if current_user in proj.members %}
     <span class="edit-button" id="edit_{{proj.id}}" onclick='editProj("{{proj.id}}");'>Edit</span>
     <!-- You are in project.  Edit -->
   {% else %}
      <span class="join-button" id="{{proj.id}}"
            onclick="joinProj('{{proj.id}}','{{current_user.id}}');">Join</span>
     {% if current_user in proj.followers %}
        <!-- You are following project. -->
     {% else %}
       <span class="follow-button"
            onclick="followProj('{{proj.id}}','{{current_user.id}}');">Follow</span>
     {% endif %}
   {% endif %}
{% endif %}
&nbsp;
<p>
</div>
<hr width="20%" align="left">
{% endfor %}

{% if current_user.has_role('admin') %}
&nbsp;
<p>
<input type="button" id="newProjButton" value="New Project" onclick="enterNewProj()">
{% endif %}

<div id="addProjDiv" hidden>
<a name="createNewProject"></a>
<h3>Create New Project</h3>
&nbsp;
<p>
<form id="newProjForm1" action="/projects_add" method="post">
<dl>
<dt>Title:</dt>
<dd> <input id="title" type="text" name="title" value="" size=90> </dd>
<br>
<dt>Description:</dt>
<dd>
<textarea id="description" name="description" rows="20" cols="90"></textarea>
</dd>
&nbsp;<p>
<input id="owner" name="owner" type="hidden" value="{{ current_user.id }}">
<input id="addButton" type="submit" value="Add Project">
<input id="cancelButton" type="button" value="Cancel" onclick="cancelNewProj()">
</dl>
</form>
</div>
&nbsp;<p>

{% endblock %}



