{% extends "layout.html" %}
{% block title %}WorldViews Projects{% endblock %}
{% block head %}
  {{ super() }}

<script src="/static/js/tinymce/tinymce.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/react.js">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.2/JSXTransformer.js"></script>
<script>
  tinymce.init({
    selector: 'textarea'
  });

function report(str)
{
    console.log(str);
}

var current_user = "{{current_user}}";
current_user_id = "{{current_user.id}}";

</script>

<script type="text/jsx">


var COMMA = <span style={ {float: "left"} }>, </span>;

function join(parts, sep)
{
    var nparts = [];
    for (var i=0; i<parts.length; i++) {
       nparts.push(parts[i]);
       if (i < parts.length-1)
          nparts.push(sep);
    }
    return nparts;
}

var User = React.createClass({
  render: function() {
    var user = this.props.user;
    //return ( <div style={ {float: "left"} }>{user.name} {user.email}</div> )
    return ( <div style={ {float: "left"} }>{user.name}</div> )
  }
});

var UserList = React.createClass({
  render: function() {
    var users = this.props.users;
    var userList = users.map(function(user) {
        return <User user={user}/>;
        //return user.name;
    });
    userList = join(userList, COMMA);
    return ( <div style={ {float: "left"} }> {userList} </div> )
  }
});

var Project = React.createClass({
  render: function() {
    report("proj: "+this.props.proj);
    return (
      <div>
        <h2> {this.props.proj.title} </h2>
        <div dangerouslySetInnerHTML={ {__html: this.props.proj.description} } />
        <br/>
        <span style={ {float: "left"} }>Followers: </span>
            <UserList users= {this.props.proj.followers} />
        <br/>
        <span style={ {float: "left"} }>Members: </span>
            <UserList users= {this.props.proj.members} />
        &nbsp;<p></p>
      </div>
    );
  }
});

var ProjectList = React.createClass({
  getInitialState: function() { return { projects: [] };  },

  componentDidMount: function() {
    this.serverRequest = $.get(this.props.source, function (results) {
      var projects = results;
      this.setState({projects: projects});
    }.bind(this));
  },

  componentWillUnmount: function() {
    this.serverRequest.abort();
  },

  render: function() {
      var projectList = this.state.projects.map(function(project) {
            return <Project proj={project} />
        });
        return <div>{projectList}</div>;
  }
});

React.render(
  <ProjectList source="/projects?type=json" />,
  document.getElementById('projectsDiv') );
</script>

{% endblock %}

{% block content %}
<p>
&nbsp;<p>&nbsp;<p>&nbsp;<p>
<div id="projectsDiv"></div>

{% endblock %}
