{% extends "layout.html" %}
{% block title %}About Profile{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block tabs %}
 {{ super() }}
{% endblock %}

{% block content %}

&nbsp;<p>&nbsp;<p>

<h1>What is WorldViews?</h1>

WorldViews is an informal non-profit organization and set of related open source
projects and activities, seeking to support all people in peacefully sharing our
world by making it easier to connect, organize, share views of the world.
<h3>Mission:</h3>
Contribute to a more connected and understanding world:
<ul>
<li>Support easier sharing of views
<li>Reinforce that we are one human family sharing Earth
<li>Facilite virtual and real meeting between people
<li>Help spread inspiration
</ul>

<h3>TeleViewer:</h3>

Our first and primary project is TeleViewer, which is a digital earth supporting
many different ways to see the world or any part of the world.  These may be based
on images, video, computer graphics, or live streamed views, telepresence robotic
views, etc.  It is inspired by Google Eath, StreetView and many great related
projects, but we seek to build open source tools with core content in the
creative commons.
Our ultimate vision is to have free tools available to anyone to let them see the
world or any part of the world in useful and inspiring ways.

{% endblock %}

