{% extends "layout.html" %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<style>
    #map {
        xposition: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
</style>
{% endblock %}

{% block tabs %}
{% endblock %}

{% block content %}

<table style="width:100%;height:500px">
    <tr>
      <td id="sphere"
	  style="background-color:green; width:50%; height:100%">
          <div id="player_div"></div>
      </td>
      <td style="background-color:blue; width: 100%"><div id="map"></div>
      </td>
    </tr>
  </table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.0.3/leaflet.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.EasyButton/2.0.0/easy-button.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.3.0/gpx.min.js"></script>
<script src="/static/js/Leaflet/Leaflet.ImageOverlay.Rotated.js"></script>
<script src="/static/js/Leaflet/Leaflet.geometryutils.js"></script>
<script src="/static/js/Leaflet/WVLeaflet.js"></script>
<script src="/static/js/math3d.js"></script>
<script src="/static/js/WVCoordSys.js"></script>
<script src="/static/js/WVYT2.js"></script>
<script>

var latlng = { lat:37.324684179870715, lng:-122.0436295866966 }
var xbounds = [ [ 37.3265995227329,  -122.04150527715686 ],
    [ 37.32308873451525, -122.04593628644945 ] ]
var bounds = [
[ 37.0,  -123.04150527715686 ],
[ 38, -120.04593628644945 ]
];

WVL.initmap(latlng, bounds);

var youtubeId = "f5e_4iIFzU8";
WVYT.videoId = youtubeId;

WVL.goHome = function()
{
}

function watchYTStat(stat)
{
    if (!WVL.currentTrack) {
        //report("watchYTStat No current track");
        return;
    }
    var desc = WVL.currentTrack.desc;
    //report("watchYTStat desc: "+JSON.stringify(desc));
    var vt = stat.t;
    var trailTime = vt - desc.youtubeDeltaT;
    //report("watchYTStat vt: "+vt+"   trailTime: "+trailTime);
    WVL.setPlayTime(trailTime);
}

function watchTrackEvent(track, trec, e)
{
   report("----------------------");
   report("trec: "+trec);
   var t = trec.rt;
   report("t: "+t);
   var desc = track.desc;
   var videoId = desc.youtubeId;
   var deltaT = desc.youtubeDeltaT;
   WVL.setCurrentTrack(track);
   WVL.setPlayTime(t);
   var vt = t + deltaT;
   if (vt < 0)
      vt = 0;
   report("vt: "+vt);    
   WVYT.playVideo(videoId, {t: vt});
//   WVYT.setPlayTime(vt);
}

$(document).ready(function()
{
    WVL.registerTrackWatcher(watchTrackEvent);
    WVYT.registerWatcher(watchYTStat);
    WVYT.start();
});

</script>
  
{% endblock %}
