@import '~sass-flex-mixin/flex';

:local(.styles) {
  @include flexbox;
  @include flex-flow(column);
  @include flex(0, 0, auto);
  padding-top: 10px;
  text-align: center;
  background-color: #263238;
  color: #eee;
  bottom: 0;
  width: 50px;
  z-index: 100;

  .icon-header {
    padding: 10px;
  }

  .icon {
    padding: 10px;
    cursor: pointer;

    &:hover {
      background-color: #eee;
      color: #000;
    }
  }

  .disabled {
    color: #900;
    &:hover {
      color: #900;
    }
  }

  .icon-padding {
    margin-bottom: 20px;
  }
}
